body {
  --main-color-ll: #0fc2c0;
  --main-color-l: #0caba8;
  --main-color: #008f8c;
  --main-color-d: #015958;
  --main-color-dd: #023535;
  
  --base-color: #f0f0f0;
  
  background: var(--base-color);
  
  font-family: sans-serif;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  
  width: 100%;
  height: 60px;
  
  color: var(--main-color);
  
  box-shadow: 0 0 10px #00000088;
}

.header-color {
  position: absolute;
  left: -20%;
  top: -20%;
  width: 140%;
  height: 120%;
  background: var(--base-color);
  filter: blur(10px);
  overflow: hidden;
}

.header h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  vertical-align: central;
  font-size: 30px;
  text-align: center;
}

.content {
  position: absolute;
  top: 60px;
  left: 0;
}

.content .project {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: var(--base-color);
  background: linear-gradient(to bottom right, var(--main-color-dd), var(--main-color));
}

.content h2 {
  color: white;
  font-size: 40px;
}

.content button {
  all: unset;
  
  text-align: center;
  background: var(--main-color);
  
  color: var(--base-color);
  
  font-weight: bold;
  
  width: 300px;
  height: 40px;
  
  border-radius: 20px;
  
  box-shadow: 0 0 10px #00000088;
}





