html {
  overflow: hidden;
}

body {
  --main-color-ll: #0fc2c0;
  --main-color-l: #0caba8;
  --main-color: #008f8c;
  --main-color-d: #015958;
  --main-color-dd: #023535;
  
  --base-color-d: #181818;
  --base-color: #1f1f1f;
  --base-color-l: #2a2a2a;
  --base-color-ll: #404040;
  
  --text-color: #e0e0e0;
  --text-color-d: #808080;
  
  --ok-color: #52de5e;
  --error-color: #ed5f5f;
  --warning-color: #edc54e;
  --info-color: #85c8de;
  
  --explorer-width: 250px;
  --footer-height: 200px;
  --footer-max-height: 200px;
  --footer-min-height: 30px;
  
  --normal-font-size: 13px;
  --icon-font-size: 20px;
  --code-font: JetBrains Mono;
  
  --normal-font: Inter, '新ゴ R', sans-serif;
  --icon-font: Material Symbols Rounded;
  
  user-select: none;
  
  font-family: var(--normal-font);
  font-size: var(--normal-font-size);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-color: #1970d4;
  box-sizing: border-box;
  
  background-color: var(--base-color);
  color: var(--text-color);
  
  margin: 0;
  padding: 0;
  
  -webkit-overflow-scrolling: touch;
}

div {
  box-sizing: border-box;
  scrollbar-width: none;
}

input[type=checkbox] {
  appearance: none;
  cursor: pointer;
  background: var(--base-color-l);
  vertical-align: -6px;
  width: 16px;
  height: 16px;
  position: relative;
  border: 2px solid var(--base-color-ll);
  border-radius: 4px;
}

input[type=checkbox]:checked:before {
  position: absolute;
  top: 0px;
  left: 4px;
  width: 4px;
  height: 8px;
  transform: rotate(45deg);
  border-right: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  content: '';
}

input[type=checkbox]:focus {
  outline: none;
}

input[type=text] {
  all: unset;
  height: 30px;
  padding: 0 10px;
  border-bottom: 2px solid var(--main-color);
  border-radius: 4px;
  background: var(--base-color-l);
}

select {
  all: unset;
  color: unset;
  font-size: unset;
  padding: 8px 16px;
  border: 0 solid var(--main-color);
  border-bottom-width: 2px;
  border-radius: 4px;
  background: var(--light);
}

code {
  font-family: var(--code-font);
  background: var(--base-color-l);
  padding: 5px 10px;
  border-radius: 5px;
}

textarea {
  resize: none;
  outline: none;
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 300px;
  padding: 20px;
  background: var(--base-color-l);
  border: 2px solid var(--base-color-ll);
  border-radius: 5px;
  color: var(--text-color);
  font-family: var(--code-font);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea:focus {
  border-color: var(--main-color);
}

.keyboard {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid var(--base-color-ll);
  background: var(--base-color);
}

.keyboard button {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  text-align: center;
  font: 20px var(--code-font);
}

.dialog {
  font-family: var(--normal-font);
  font-size: var(--normal-font-size);
  user-select: none;
  box-sizing: border-box;
  position: fixed;
  padding: 0;
  border: 2px solid;
  border-radius: 10px;
  background: var(--base-color-d);
  color: var(--text-color);
  border-color: var(--main-color);
}

.dialog-title {
  font-size: 25px;
}

.dialog-content {
  margin: 50px;
}

.dialog-footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.dropdown {
  all: unset;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--base-color-l);
  border: 2px solid var(--base-color-ll);
  color: var(--text-color);
  border-radius: 5px;
  padding: 10px;
}

.dropdown div {
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

.dropdown div:hover {
  background: var(--base-color-ll);
}

.dropdown-back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  height: 20px;
  box-sizing: content-box;
  margin: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  background: var(--base-color-l);
  color: var(--text-color);
  text-align: left;
  font: var(--normal-font-size) var(--normal-font);
}

button:hover {
  border: 2px solid var(--main-color);
}

button:focus {
  outline: none;
}

button p {
  font-size: 18px;
  margin: 0;
}

.button-like {
  all: unset;
  padding: 8px 16px;
  height: 20px;
  border-radius: 5px;
  background: var(--gray);
}

.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr var(--explorer-width);
  grid-template-rows: 45px 45px 1fr var(--footer-height);
}

.menu {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  overflow-x: none;
  overflow-y: scroll;
  width: 100%;
  background: var(--base-color-d);
  border: 0 solid var(--base-color-l);
  border-bottom-width: 2px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-element {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.menu-element:hover {
  background: var(--base-color-l);
  
}

.menu-text {
  
}

.menu-icon {
  margin: 0 5px;
  font-size: var(--icon-font-size);
  color: var(--text-color);
  font-family: var(--icon-font);
  font-variation-settings: 
  'FILL' 0,
  'wght' 250,
  'GRAD' 0,
  'opsz' 24;
}

.menu-line {
  border-left: 2px solid var(--base-color-ll);
  height: 50%;
}

.explorer-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  border-style: solid;
  border-left-width: 2px;
  border-color: var(--base-color-l);
  box-sizing: border-box;
  background: var(--base-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 1fr 50px;
  position: relative;
}

.explorer-fold {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  background: var(--base-color);
  border: solid var(--base-color-l);
  border-width:  2px 0 2px 2px;
  border-radius: 10px 0 0 10px;
}

.explorer-fold-icon {
  display: block;
  width: 30px;
  height: 30px;
  font-family: var(--icon-font);
  font-size: var(--icon-font-size);
  text-align: center;
  color: var(--text-color);
}

.explorer-container p {
  height: 100%;
  text-align: center;
}

.explorer {
  overflow-y: scroll;
}

.explorer-element {
  
}

.explorer-element-row {
  cursor: pointer;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.explorer-element-row-selected {
  background: var(--base-color-ll);
}

.explorer-element-detail {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: transparent;
  position: absolute;
  right: 5px;
  font-family: var(--icon-font);
  font-size: var(--icon-font-size);
  background: var(--base-color-ll);
}

.explorer-element-detail::hover {
  background: var(--base-color);
}

.explorer-element-icon {
  font-family: var(--icon-font);
  font-size: var(--icon-font-size);
  margin: 0 5px;
}

.explorer-element-name {
  font-size: var(--normal-font-size);
  text-overflow: ellipsis;
  overflow: hidden;
}

.explorer-menu {
  border-top: 2px solid var(--base-color-l);
  position: relative;
  overflow: hidden;
}

.explorer-menu div {
  background: var(--base-color-l);
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explorer-menu div span {
  font: 20px var(--icon-font);
}

.tab-headers {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: var(--base-color-d);
  width: 10000%;
  max-width: none;
  overflow-x: scroll;
  overflow-y: hidden;
}

.tab-header {
  box-sizing: content-box;
  width: fit-content;
  margin: 0 2px;
  min-width: 120px;
  height: 45px;
  line-height: 40px;
  background: var(--base-color);
  border-style: solid;
  border-color: var(--base-color-l);
  border-width: 2px 0 0 0;
  float: left;
}

.tab-header-selected {
  background: var(--base-color-l);
  border-top-color: var(--main-color);
}

.tab-header-icon {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  font-size: var(--icon-font-size);
  font-family: var(--icon-font);
}

.tab-header-name {
  display: inline-block;
  vertical-align: top;
}

.tab-header-close {
  font-family: var(--icon-font);
  font-variation-settings: 'FILL' 1;
  font-size: var(--icon-font-size);
  margin: 0 10px;
  height: 35px;
  float: right;
  border-radius: 5px;
}

.tab-header-close:hover {
  color: var(--text-color-d);
}

.tab-content-container {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: var(--base-color-l);
  border-top: 2px solid var(--base-color-l);
}

.tab-content {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-row-start: 4;
  background: var(--base-color-d);
  border-top: 2px solid var(--base-color-l);
  position: relative;
}

.footer-fold {
  cursor: pointer;
  position: absolute;
  z-index: 77777;
  top: -30px;
  left: 0;
  width: 30px;
  height: 30px;
  background: var(--base-color-d);
  border: solid var(--base-color);
  border-width:  2px 2px 0 2px;
  border-radius: 10px 10px 0 0;
}

.footer-fold-icon {
  display: block;
  width: 30px;
  height: 30px;
  font-family: var(--icon-font);
  font-size: var(--icon-font-size);
  text-align: center;
  color: white;
}

.footer-indicator {
  width: 100%;
  height: 30px;
  background: var(--base-color);
  border-bottom: 2px solid var(--base-color-l);
}

.footer-indicator-annotations {
  margin-left: 10px;
  float: left;
  height: 30px;
  display: flex;
  align-items: center;
}

.footer-indicator-unsaved {
  margin-right: 10px;
  float: right;
  height: 30px;
  display: flex;
  align-items: center;
}

.footer-indicator-icon {
  font-family: var(--icon-font);
  font-size: var(--icon-font-size);
  color: var(--text-color-d);
  margin: 0 5px;
}

.footer-indicator-text {
  
}

.footer-annotations {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.footer-annotations-row {
  width: 100%;
  height: 30px;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid var(--base-color);
}

.footer-annotations-icon {
  font-family: var(--icon-font);
  font-size: var(--icon-font-size);
  margin: 0 5px;
}

.footer-annotations-text {
  
}

.version-selector {
  margin: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font: 20px var(--code-font);
}

.version-selector span {
  
}

.version-selector input {
  width: 50px;
  text-align: center;
}

.message-info {
  width: fit-content;
  margin: 10px;
  padding: 5px;
  background: var(--base-color-ll);
  border-radius: 5px;
  border: 2px solid var(--info-color);
}

.project-info-content-manager-table {
  border-collapse: collapse;
  border: 2px solid #ffffff88;
}

.project-info-content-manager-table th {
  padding: 10px;
  border-right: 2px solid #ffffffaa;
}

.project-info-content-manager-table td {
  padding: 10px;
  border-right: 2px solid #ffffffaa;
}
